Repository livankrekh/Galera_project, pull requests merged in 2021-01, with the labels that each got.

#5 Add vue.js default project to client folder
  .gitignore
  client/babel.config.js
  client/main
  client/package-lock.json
  client/package.json
  client/public/favicon.ico
  client/public/index.html
  client/src/App.vue
  client/src/assets/logo.png
  client/src/components/HelloWorld.vue
  client/src/main.js
Labels: client

#8 L.iabanzhi/second
  tmp_file.txt
Labels: documentation

#9 Add server and ml model, create db model
  server/.flaskenv
  server/app.db
  server/base/__init__.py
  server/base/api.py
  server/base/start_server.py
  server/config.py
  server/db/manage_db.py
  server/db/models.py
  server/manage.py
  server/ml_model/imagenet_class_index.json
  server/ml_model/model_base.py
  server/model/model_base.py
Labels: ai_model, base-server, database

#11 Change upload screen
  client/public/img/brand/logo.png
  client/src/assets/logo.png
  client/src/assets/scss/custom/_variables.scss
  client/src/components/VueUploadMultipleImage.vue
  client/src/layout/AppFooter.vue
  client/src/layout/AppHeader.vue
  client/src/router.js
  client/src/views/Upload.vue
  client/src/views/components/VueUploadMultipleImage.vue
  client/vue.config.js
Labels: client

#12 Nagatsuka akiya/upload screen fixes
  client/public/img/brand/blue.png
  client/public/img/brand/creativetim-white-slim.png
  client/public/img/brand/favicon.png
  client/public/img/brand/github-white-slim.png
  client/public/img/brand/kyocera-logo.gif
  client/public/img/brand/white.png
  client/public/img/icons/common/github.svg
  client/public/img/icons/common/google.svg
  client/public/img/icons/process.gif
  client/public/img/ill/ill-2.svg
  client/src/components/VueUploadMultipleImage.vue
  client/src/layout/AppFooter.vue
  client/src/views/components/VueUploadMultipleImage.vue
Labels: client, feature

#13 Add re-recognize screen
  client/src/layout/AppFooter.vue
  client/src/views/components/VueUploadMultipleImage.vue
Labels: client, feature

#14 Fix reconition result screen
  client/src/assets/scss/custom/_footer.scss
  client/src/layout/AppFooter.vue
  client/src/views/Upload.vue
  client/src/views/components/VueUploadMultipleImage.vue
Labels: bug, client

#15 Fix drag-n-drop
  client/package-lock.json
  client/package.json
  client/src/views/Upload.vue
  client/src/views/components/VueUploadMultipleImage.vue
Labels: bug, client

#16 Add docker and docker-compose files
  .dockerignore
  client/.dockerignore
  client/Dockerfile
  docker-compose.yml
  server/.flaskenv
  server/Dockerfile
  server/app.db
  server/requirements.txt
Labels: deploy

#17 Fix docker
  client/src/router.js
  client/src/views/components/VueUploadMultipleImage.vue
Labels: client

#18 Fix docker-compose postgres port and service order
  docker-compose.yml
Labels: deploy

#19 Add multiple result screen
  client/src/components/VueUploadMultipleImage.vue
  client/src/views/Components.vue
  client/src/views/Landing.vue
  client/src/views/Login.vue
  client/src/views/Profile.vue
  client/src/views/components/VueUploadMultipleImage.vue
Labels: client, feature

#20 Nagatsuka akiya/fixes
  client/src/assets/scss/custom/_footer.scss
  client/src/components/BaseNav.vue
  client/src/layout/AppHeader.vue
  client/src/views/components/VueUploadMultipleImage.vue
Labels: bug, client

#21 Add nginx as reverse proxy, change dockerfiles
  client/Dockerfile
  client/src/views/components/VueUploadMultipleImage.vue
  docker-compose.yml
  nginx.conf
  server/base/api.py
  server/config.py
Labels: deploy
